@using BeautySalon.Services
@inject IAboutUsInfo aboutUsInfo

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @aboutUsInfo.NameSalon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeautySalon.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="margin-bottom: 0 !important;">
            <div class="container-fluid" style="background-color: white;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@aboutUsInfo.NameSalon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="AboutUs">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Sales">Акции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Feedback" asp-action="Index">Отзывы клиентов</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           
                &copy; 2024 - BeautySalon - <a href="@Url.ActionLink("AboutUs","Home")" style="text-decoration:none; color: #e280a7; font-weight: bold;">О нас</a>
            
            <div class="row" style="padding-top:1%">
                <div class="col-lg-7">
            Мы находимся по адресу: @aboutUsInfo.Address<br/>
            Наш телефон: @aboutUsInfo.ContactNumber<br/>
            @aboutUsInfo.WorkSheet<br/>
            </div>
                <div class="col-lg-5" style="text-align: right; padding:4.5%; :auto;">
            Мы в соц. сетях: 
            @if(!String.IsNullOrEmpty(aboutUsInfo.InstaLink))
            {
                <a href="@aboutUsInfo.InstaLink"><i class="fa-brands fa-square-instagram"></i></a> 
            }
            @if (!String.IsNullOrEmpty(aboutUsInfo.VkLink))
            {
                <a href="@aboutUsInfo.VkLink"><i class="fa-brands fa-vk"></i></a> 
            }
            @if (!String.IsNullOrEmpty(aboutUsInfo.OkLink))
            {
                <a href="@aboutUsInfo.OkLink"><i class="fa-brands fa-square-odnoklassniki"></i></a>
            }
            @if (!String.IsNullOrEmpty(aboutUsInfo.AnyLink))
            {
                <a href="@aboutUsInfo.AnyLink"><i class="fa-solid fa-ethernet"></i></a>
            }
            </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
